@import "tailwindcss";

@theme {
  --color-primary: #16a34a;
  --color-secondary: #0d9488;
  --color-accent: #06b6d4;
  --color-base-100: #171212;
  --color-base-200: #1f1d1d;
  --color-base-300: #2a2727;
  --color-base-content: #e7e5e4;
}