@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6;
  background-image: radial-gradient(#d1d5db 1px, transparent 1px);
  background-size: 24px 24px;
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s ease;
}

.dark body {
  background-color: #111827;
  background-image: radial-gradient(#374151 1px, transparent 1px);
}

